{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p><input type="text" name="title" placeholder="Tytuł Umowy"></p>
        <p><input type="text" name="value_contract" placeholder="Wartość brutto umowy"></p>
        <p>
            <label>
                Wykonawca:
                <select>
                    <li>
                        name="list_contractor"
                    </li>>
                </select>
            </label>
        </p>
        <p>
            <label>
                Typ zamówienia:
                <select name="type_procurement">
                </select>
            </label>
        </p>
        <p><input type="date" name="contract_date" placeholder="data podpisania umowy"</p>
        <p><input type="submit"></p>
    </form>
{% endblock %}